<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2 class="title">Forgot Password</h2>
    <form (ngSubmit)="onForgotPasswordSubmit()" #forgotPasswordForm="ngForm" class="forgot-password-form">
      
      <!-- Email Input -->
      <label for="email">Enter your Email:</label>
      <input 
        type="email" 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        required 
        #emailInput="ngModel" 
        class="input-field"
        placeholder="youremail@example.com" />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
        Email is required.
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="forgotPasswordForm.invalid" class="submit-button">Submit</button>
      
      <!-- Message -->
      <div *ngIf="message" class="message">{{ message }}</div>

      <!-- Link to Register -->
      <div *ngIf="message === 'No email found. Register now'" class="register-link">
        <p>Don't have an account? <a routerLink="/register">Register here</a></p>
      </div>
    </form>
  </div>
</div>
